body {
  background-color: #f5f5f5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;       
  gap: 16px;             
  list-style: none;      
  padding: 0;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 1440px;  
  justify-content: center;

.gallery-item {
 position: relative;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;   
  display: block;
  cursor: pointer;    
  border-radius: 0;
  transition: transform 0.2s;
}

.gallery-image:hover {
  transform: scale(1.05);
}
